@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap");
/* Font-face declarations for other fonts */
@font-face {
  font-family: "Boska";
  src: url("../fonts/Boska/boska-regular.woff2") format("woff2"),
    url("../fonts/Boska/boska-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer/switzer-regular.woff2") format("woff2"),
    url("../fonts/Switzer/switzer-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir/avenir-regular.woff2") format("woff2"),
    url("../fonts/Avenir/avenir-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: Arial, sans-serif;
  background-color: #1b3936;
  margin: 0;
  padding: 0;
}

.banner {
  color: white;
  padding: 10px 0;
  display: flex 1;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 1214px;
  height: 33px;
  margin-left: 350px;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 20px;
}

.logo {
  font-size: 20px;
  text-align: center;
  flex-grow: 1;
  color: #75ff69;
  font-family: "Oranienbaum", poppins;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18 px;
}

/* Hero Section */
.hero {
  position: relative;
  text-align: center;
  padding: 50px 20px;
}

.hero-content {
  position: relative;
  z-index: 1;
  margin-top: -300px;
}

.hero-title1 {
  font-family: "Boska", serif;
  font-size: 262px;
  font-weight: lighter;
  color: #ffffff;
  margin-bottom: -15px;
}
.hero-title2 {
  font-family: "Boska", serif;
  font-size: 262px;
  font-weight: lighter;
  color: #75ff69;
  font-style: italic;
  margin-left: 423px;
  margin-top: -100px;
}
.hero-title3 {
  font-family: "Boska", serif;
  font-size: 32px;
  font-weight: lighter;
  color: #ffffff;
  margin-top: -280px;
}
.hero-title4 {
  font-family: "Boska", serif;
  font-size: 262px;
  font-weight: lighter;
  color: #ffffff;
  margin-top: -100px;
}

.hero-text {
  font-family: "switzer", sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin-top: -300px;
  margin-left: 650px;
  width: 570px;
  height: 72px;
  text-align: justify;
}

/* Background Circle */
.hero::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 570px;
  height: 570px;
  background-image: url("../images/Image.png");
  background-size: cover;
  background-position: center;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/* Circle Border */
.circle-border {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1188px;
  height: 1188px;
  background-image: url("../images/Line.png");
  transform: translate(-50%, -50%);
  rotate: var(-50%);
}
.play-icon {
  position: absolute;
  top: 350px;
  left: 1500px;
  width: 82px;
  height: 82px;
  background-color: #75ff69;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.play-icon::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid black;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
/* Info Section */
.info-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 20px;
  position: relative;
  background-color: #f9f9f9;
  color: black;
}

.info-right {
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 20%;
}

.info-left {
  flex: 1;
  text-align: left;
  padding: 20px;
}

.logo-circle {
  width: 203px;
  height: 230px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 155px;
}

.logo-description {
  margin-top: 60px;
  width: 609px;
  height: 128px;
  font-family: "Switzer", sans-serif;
  font-size: 20px;
  color: #1b3936;
  text-align: left;
  margin-left: 160px;
  line-height: 31px;
}
.container {
  border-radius: 5px;
  text-align: start;
  font-family: "Boska", serif;
  color: #1b3936;
}
.title {
  font-size: 28px;
  margin-bottom: -80px;
  font-weight: 400;
}

.text {
  font-size: 70px;
  color: #1b3936;
  font-weight: 700;
}
.text-sub {
  font-size: 28px;
  font-weight: lighter;
}

/* Image Banner */
.image-banner {
  width: 100%;
  height: 850px;
}

.image-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us {
  position: relative;
  width: 100%;
  height: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1b3936;
  margin-top: 200px;
}
.about-us .image-container {
  position: absolute;
  overflow: hidden;
}

.about-us .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-us img {
  position: absolute;
  object-fit: cover;
}

.top-left {
  top: 160px;
  left: 180px;
  width: 400px;
  height: 300px;
  position: absolute;
}
.top-left img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  display: block;
}

.top-right {
  top: 10px;
  right: 200px;
  width: 401px;
  height: 526px;
  position: absolute;
}
.top-right img {
  width: 401px;
  height: 526px;
  object-fit: cover;
  display: block;
}
.bottom-left {
  bottom: 150px;
  left: 240px;
  width: 401px;
  height: 531px;
  position: absolute;
}

.bottom-left img {
  width: 401px;
  height: 526px;
  object-fit: cover;
  display: block;
}
.bottom-right {
  bottom: 100px;
  right: 200px;
  width: 401px;
  height: 531px;
  position: absolute;
}

.bottom-right img {
  width: 401px;
  height: 531px;
  object-fit: cover;
  display: block;
}

.content {
  width: 1083px;
  z-index: 1;
  font-size: 68px;
  color: #ffffff;
  line-height: 80px;
  margin-top: -350px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: "Boska";
  text-align: center;
}
.content h2 {
  font-size: 24px;
  color: #75ff69;
  margin-bottom: -80px;
}
.content font {
  color: #678784;
}
.about-us-bottom {
  width: 100%;
  height: 500px;
  margin-top: -250px;
}
.about-us-bottom img {
  width: auto;
  height: 500px;
  object-fit: cover;
}
